html{
  scroll-behavior: smooth;
}
#preloader_container{
  width: 100%;
  height: 100%;
  position: fixed;
  mix-blend-mode: darken;
}
#preloader{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
/* STARS & LOGO */
#unison_box{
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  top: -60px;
}
@media (min-width: 1500px) {
  #unison_box{
    margin-left: auto;
    margin-right: auto;
  }
}

#container {
  width: 100%;
  height: 100%;
  animation: fadeIn 3.7s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 800px) {
  #info {
    margin: 0;
    width: 640px;
  }
  #container {
    margin: 0;
    width: 640px;
    height: 289px;
  }
  #unison_box{
    top: 15px;
    height: 40%;
  }
}
#starry-night {
  width: 100%;
  height: 100%;
  animation: fadeIn 3.7s;
  z-index: 99;
  pointer-events: none;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
/* STAR GIF CSS & KEYFRAMES */
#stargif{
  opacity: .25;
  animation:  rotation 120s infinite linear;
  -webkit-animation:  rotation 120s infinite linear;
  -moz-animation:  rotation 120s infinite linear;
  -o-animation:  rotation 120s infinite linear;
  -ms-animation:  rotation 120s infinite linear;
  position: absolute;
  height: auto;
  margin-bottom: 19.7%;
  right: 57.4%;
  width: 5.3%;
  z-index: 1;
  transform: rotate(-52deg);
  -webkit-filter: grayscale(100%) invert(1); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) invert(1) blur(.08vw);
  mix-blend-mode: multiply;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.clickbox{
  position: absolute;
  height: 32vw;
  width: 24%;
  right: 22%;
  z-index: 100;
}
@media (min-width: 1500px) {
  .clickbox{
    height: 77%;
  }
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}
.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.clickbox:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


#infoboxes{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 60px;
}
@media (min-width: 800px) {
  #infoboxes{
    top: -50px;
    position: relative;
  }
}
.infobox{
  visibility: hidden;
}
/* 
#urge{
  position: absolute;
  height: auto;
  width: 15%;
  bottom: -12px;
  z-index: 50;
}
@media (max-width: 800px) {
  #urge{
    bottom: -6px;
    width: 20vw;
  }
} */


/* NAV STUFF */
#navgott{
  transition: top 0.3s;
  animation: fadeIn 4.6s ease-in-out;
}

#name{
  cursor: default;
}

.ui.navbar {
  margin-top: 0px !important;
  width: 100%;
}

.padding-reset{
padding: 0px !important;
}

.ui.message{
padding: 41px !important;
}

@media (max-width: 767px) {
  #mini-nav{
        border-radius: 0%;
        margin-bottom: 0%;
        height: 60px;
}
  #starry-night{
        width: 100%;
        margin: 0px;
  }
  #unison_box{
        width: 100%;
        margin: 0px;
  }
}

@media (max-width: 360px) {
  #logo-satchmo{
      height: 25px;
      width: auto;
  }
  #nav-collapsed{
      max-width: 47%;
  }
}

.ui.vertical.menu{
  margin-top: -15px !important;
  width: 100%;
  position: absolute;
  display: none;
  z-index: 15;
  top: 89px;
  right: 0px;
} 

/* FOOTER */
.footer{
  position: fixed;
  width: 100%;
  z-index: 55;
  bottom: 0;
  height: 50px;
  padding: 0%;
}

#foot{
  padding: 0%;
  background-color: #1b1c1d;
}

.footlink{
  color: rgb(146, 146, 146);
  padding-bottom: 2%;
}
.footlink:hover{
  color: rgb(131, 75, 205);
}
/* END FOOTER */